*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,img,button{
    display: inline-block;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}

:root{
    --primary-base:#023e8a;
    --primary-shade:#03045e;
    --primary-tint:#0096c7;

    --secondary-base:#e40b0b;
    --secondary-shade:#6a040f;
    --secondary-tint:#dc2f02;

    --black:#000;
    --white:#fff;
    --gray-dark:#212529;
    --gray-base:#343a40;
    --gray-light:#6c757d;
}

/* Containers and types styles*/
.page-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;

}
h1{
    font-size: 68px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 32px;
}
p{
    font-size: 20px;
}

/* header section */